.warna-siji {
	color: #a17900 !important;

}
a:hover {
	opacity: 0.8 !important;
}
a>i.fa {
	color: white !important;
	text-decoration: none;
}
div.section>div.row{
	min-height: 350px;
}
footer>div.footer-copyright>div.container{
	padding-bottom: 20px;
}
p.light{
	color: #fefefe;
}
hr{
	border-width: 0.2px;
}
.card-stacked {
	background-color: #0f0f0f !important;
}
.yy{
	max-width: 100px !important;
}
.warna-loro {
	color: #ba972f !important;
}
.warna-telu {
	color: #c29742 !important;
}
.warna-papat {
	color: #dbaa4b !important;
}
.warna-limo {
	color: #f8ba00 !important;
}
.warna-enem {
	color: #f8c93e !important;
}
.warna-pitu {
	color: #f8d670 !important;
}
.warna-wolu {
	color: #423a2a !important;
}
.warna-songo {
	color: #8f6f31 !important;
}




