.container {
	width: 90%;
	margin: 5%;
	text-align: center;
	position: absolute;
}

.heading {
	color: #A0A0A0;
	margin-bottom: 7%;
}
.heading > h1 {
	color: #FFF;
}

.myworks {
	padding: 1rem;
}

.myworks > .row {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	grid-gap: 1rem;
}
.myworks > .row > .col {
	max-width: 100%;
}
.myworks > .row > .col > figure {
	margin: 10px;
}

.myworks > .row > .col > figure > a {
	overflow: hidden;
	position: relative;
	border-radius: .5rem;
}
.myworks > .row > .col > figure > a > img {
	border-radius: .5rem;
	width: 100%;
}
.myworks > .row > .col > figure > a > figcaption {
	border-bottom-left-radius: .5rem;
	border-bottom-right-radius: .5rem;
	opacity: 0;
	position: absolute;
	bottom: 0;
	background-color: rgba(0,0,0,.7);
	width: 100%;
}
.myworks > .row > .col > figure > a > figcaption > h3 {
	color: white;
}

.myworks > .row > .col > figure > a:hover figcaption {
	opacity: 1;
	-moz-transition: all .2s ease-in;
	-o-transition: all .2s ease-in;
	-webkit-transition: all .2s ease-in;
	transition: all .2s ease-in;
}

.myworks > .row > .col > figure > a:hover img {
	opacity: .8;
	-moz-transition: all .2s ease-in;
	-o-transition: all .2s ease-in;
	-webkit-transition: all .2s ease-in;
	transition: all .2s ease-in;
}